#!/bin/sh
### BEGIN INIT INFO
# Provides:          evergreen-reporter
# Required-Start:    $remote_fs $syslog $network
# Required-Stop:     $remote_fs $syslog $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Evergreen reporting daemon
# Description:       Controls the clark-kent.pl reporter daemon.
### END INIT INFO

NAME=evergreen-reporter
DESC="Evergreen Reporter"
RUNUSER=opensrf
INSTALL_PATH={{ eg_install_path }}
CLARK="$INSTALL_PATH/bin/clark-kent.pl"
SCRIPTNAME=/etc/init.d/$NAME
LOCKFILE=/tmp/reporter-LOCK
ENV_PATH={{ eg_install_path }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ENV_LD={{ eg_install_path }}/lib:/usr/local/lib:/usr/local/lib/dbd:${LD_LIBRARY_PATH:-}

. /lib/lsb/init-functions

[ -x "$CLARK" ] || exit 0

run_as_opensrf() {
    su -s /bin/bash "$RUNUSER" -c "PATH=$ENV_PATH LD_LIBRARY_PATH=$ENV_LD $CLARK $*"
}

is_running() {
    pgrep -u "$RUNUSER" -f "[c]lark-kent\\.pl" >/dev/null 2>&1
}

start_service() {
    if is_running; then
        return 0
    fi
    run_as_opensrf --daemon
}

stop_service() {
    if is_running; then
        pkill -u "$RUNUSER" -f "[c]lark-kent\\.pl" || true
        sleep 1
    fi
    rm -f "$LOCKFILE"
}

case "$1" in
  start)
    log_daemon_msg "Starting $DESC" "$NAME"
    start_service
    log_end_msg $?
    ;;
  stop)
    log_daemon_msg "Stopping $DESC" "$NAME"
    stop_service
    log_end_msg 0
    ;;
  restart|force-reload)
    log_daemon_msg "Restarting $DESC" "$NAME"
    stop_service
    start_service
    log_end_msg $?
    ;;
  status)
    if is_running; then
        log_success_msg "$DESC is running"
        exit 0
    else
        log_failure_msg "$DESC is not running"
        exit 3
    fi
    ;;
  *)
    echo "Usage: $SCRIPTNAME {start|stop|restart|force-reload|status}"
    exit 2
    ;;
esac

exit 0
