# TODO: 'Before' and 'After' reflect a single-server setup.
# Make these configurable for cases where certain services 
# (e.g. memcache) are not run on the same machine.

[Unit]
Description=Open Service Request Framework

[Service]
User=opensrf
Group=opensrf
Type=oneshot
RemainAfterExit=yes
Environment=PATH=/openils/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=LD_LIBRARY_PATH=/openils/lib:/usr/local/lib:/usr/local/lib/dbd:$LD_LIBRARY_PATH
ExecStart=/openils/bin/osrf_control -l --start-all
ExecStop=/openils/bin/osrf_control -l --stop-all

#[Install]
#WantedBy=multi-user.target

