- name: Install OpenSRF Router Service File
  become: true
  template: 
    src: extras/service-files/opensrf-router.service.j2
    dest: /lib/systemd/system/opensrf-router.service 
    owner: root
    group: root
    mode: 0644
- name: Install OpenSRF Service File
  become: true
  template: 
    src: extras/service-files/opensrf.service.j2
    dest: /lib/systemd/system/opensrf.service 
    owner: root
    group: root
    mode: 0644
  when: use_service_opensrf | bool
- name: Install OpenSRF Websocketd Service File
  become: true
  template: 
    src: extras/service-files/websocketd-osrf.service.j2
    dest: /lib/systemd/system/websocketd-osrf.service
    owner: root
    group: root
    mode: 0644
  when: use_service_websocketd | bool
- name: Install Evergreen Reporter Service File
  become: true
  template: 
    src: extras/service-files/evergreen-reporter.service.j2
    dest: /lib/systemd/system/evergreen-reporter.service 
    owner: root
    group: root
    mode: 0644
  when: use_service_reporter | bool
- name: Reload Systemd Configs
  systemd:
    daemon_reload: true
- name: Enable OpenSRF Service
  systemd:
    name: opensrf
    state: enabled
  when: use_service_opensrf | bool
- name: Enable OpenSRF Websocketd Service
  systemd:
    name: websocketd-osrf
    state: enabled
  when: use_service_websocketd | bool
- name: Enable Evergreen Reporter Service
  systemd:
    name: evergreen-reporter
    state: enabled
  when: use_service_reporter | bool

